/*******************************TAG SELECTORS*****************************/
body {
  background-color: #ECE7B4;
}

h1 {
  color: #406343;
}

h2 {
  color: #406343;
}

hr {
  height: 0px;
  background-color: #ECE7B4;
  width: 10%;
  border-top: 5px dotted #064420;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

img {
  border-radius: 25%;
  height: 200px;
  border: 5px solid #406343;
  box-shadow: 5px 5px gray;
}

/**********************************CLASS SELECTORS***************************/
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tableData {
  font-size: 30px;
}

.hobbyImage:hover {
  background-color: green;
}